{% extends 'base.html' %}

{% block title %}Add A New Cafe{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new cafe into the database</h1>
      <form method="POST", action="{{ url_for('cafes') }}">
        {{ form.hidden_tag() }} <br>
        {{ form.cafe.label(class="form-label") }}<br>
        {{ form.cafe}}<br>
        {{ form.website.label(class="form-label") }}<br>
        {{ form.website}}<br>
        {{ form.coffee.label(class="form-label") }}<br>
        {{ form.coffee}}<br>
        {{ form.wifi.label(class="form-label") }}<br>
        {{ form.wifi}}<br>
        {{ form.power.label(class="form-label") }}<br>
        {{ form.power}}<br>
        {{ form.opentime.label(class="form-label") }}<br>
        {{ form.opentime}}<br>
        {{ form.closetime.label(class="form-label") }}<br>
        {{ form.closetime}} <br>
        <br>
        {{ form.submit }}
        <br>








      </form>
      <!-- This is where your WTForm will go -->


	  <p class="space-above"><a href="#">See all cafes</a></p>

    </div>
  </div>
</div>

{% endblock %}
